/* imageModal.css */


/* 모달 버튼 안보이게 가리기 */
#modalExecute{
    display: none;
    visibility: hidden;
}


#modal_size{
    display: flex;
    /* flex 아이템의 주축 설정 */
    flex-direction: column;
    /* 주 축의 정렬을 가운데로 */
    contain: content;
    vertical-align: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

