@charset "UTF-8";

form {
	text-align: center;
}

h2 {
	font-size: 1.7em;
	color: #5681b0;
}

h3 {
	font-size: 1.3em;
	color: #5c5c5c;
}

hr {
	width: 70px;
	background-color: #ccc;
}

span {
	font-size: 1em;
	color: #717171;
}

button {
	width: 150px;
	height: 40px;
	border-radius: 20px;
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	display: block;
	margin: 0 auto;
}

#wrap {
	width: 100%;
	box-sizing: border-box;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.wraper>div {
	display: inline-block;
}

.header>div {
	display: inline-block;
}

.top-logo {
	font-size: 1.8em;
	font-weight: 800;
	position: relative;
	top: 60px;
}

.tnb {
	float: right;
}

.menu-list {
	display: inline-block;
	float: left;
	position: relative;
	top: 50px;
	padding: 20px;
	font-size: 1.2em;
	letter-spacing: -0.03em;
	font-weight: 600;
}

.visual {
	width: 100%;
	height: 450px;
	background-color: #eee;
	position: relative;
	top: 80px;
}

.visual>img {
	overflow: hidden;
}

.slide-bottom-text-box {
	position: relative;
	background-color: #eaeaea;
	text-align: center;
	height: 190px;
}

.slide-bottom-text-box .text-box {
	transform: translateY(50%);
}

.bottom-text-box {
	position: relative;
	background-color: #eaeaea;
	height: 320px;
	padding-top: 30px;
}

.sitemap-list>h3 {
	font-size: 1.12em;
	color: #5681b0;
	font-weight: 700;
}

.sitemap-list>ul {
	font-size: 0.9em;
	line-height: 1.8em;
	list-style: none;
	padding-left: 7px;
	color: #555;
}

.sitemap-list {
	width: 200px;
	display: inline-block;
}

.map-img-box {
	width: 400px;
	height: 250px;
	display: inline-block;
	background-color: #fff;
	margin-right: 20px;
}

.map-text-box {
	float: right;
	width: 500px;
	display: inline-block;
}

.map-text-box>.map-list>span {
	width: 500px;
	display: inline-block;
	font-size: 0.9em;
}

.map-text-box>.map-list>span>hr {
	width: 100%;
}

.map-text-box>.map-list>span>p {
	font-weight: 700;
	padding: 0;
	margin: 0;
	color: #656565;
}

.map-list>h3 {
	font-size: 1.12em;
	color: #5681b0;
	font-weight: 700;
}

.map-list>ul {
	font-size: 0.8em;
	line-height: 1.8em;
	list-style: none;
	padding-left: 7px;
	color: #656565;
}

.map-list {
	width: 200px;
}

.bottom-text-box>.wrapper>div {
	vertical-align: top;
}

.content {
	text-align: center;
	background-color: #fff;
	width: 100%
}

.content-list {
	width: 330px;
	height: 420px;
	margin: 50px 20px;
	padding: 30px;
	background-color: #eeeeee;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.content-list-o-img {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #fff;
}

.content-text {
	text-align: center;
	padding: 20px;
}

.middle-back-img-banner {
	width: 100%;
	height: 220px;
	background-color: #ccc;
	position: relative;
	padding: 30px;
}

.banner-text {
	margin: 30px 0 20px 0;
}

.banner-text>h3, .banner-text>span {
	color: #fff;
}

.notice-board {
	width: 450px;
	margin: 30px 40px 30px 0;
	display: inline-block;
}

.gallery-board {
	width: 700px;
	display: inline-block;
}

.board-title {
	border-bottom: 1px solid #777777;
	padding: 10px 10px 3px 3px;
	font-size: 1.2em;
	font-weight: 700;
	color: #565656;
}

.board-title>div {
	display: inline-block;
}

.board-title>div>span {
	color: #5681b0;
}

.board-title>.more-btn {
	float: right;
	font-weight: 400;
}

.board-list {
	padding: 15px 0 5px 0;
	font-size: 0.9em;
	font-weight: 200;
	color: #656565;
	border-bottom: 1px solid #777;
}

.board-list>ul {
	list-style: none;
	padding-left: 15px;
	line-height: 1.7em;
}

.footer {
	width: 100%;
	background-color: #000;
	height: 60px;
}

.footer>p {
	transform: translateY(70%);
	text-align: center;
	color: #fff;
}