/* imageModal.css */


/* 모달 버튼 안보이게 가리기 */
#modalExecute{
    display: none;
    visibility: hidden;
}


#modal_size{
    display: flex;
    flex-direction: column;
    contain: content;
    vertical-align: auto;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: auto;
    margin: 20px auto;
}

/* #modal_size{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    vertical-align: auto;
    margin: 0;
    padding: 0;
} */

#c1{
    width: 240px;
    height: auto;
    margin: 0;
    padding: 0;
}

#mb{
    display: flex;
    width: 240px;
    height: auto;
    margin: 0;
    padding: 0;
}
