/* imageModal.css */


/* 모달 버튼 안보이게 가리기 */
#modalExecute{
    display: none;
    visibility: hidden;
}


#modal_size{
    display: flex;
    flex-direction: column;
    contain: content;
    vertical-align: auto;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: 20px auto;
}

/* #modal_size{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    vertical-align: auto;
    margin: 0;
    padding: 0;
} */

/* 모달에 나오는 이미지 ID */
#c1{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

#mb{
    display: flex;
}