<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iu.home.notice.NoticeDAO">
	<sql id="search">
		WHERE
		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'writer'">WRITER</when>
			<otherwise>CONTENTS</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
	</sql>

	<select id="getNoticeList" resultType="NoticeDTO"
		parameterType="ReviewsPager">
		SELECT * FROM
		(
		SELECT ROWNUM RN, NN.* FROM
		(
		SELECT * FROM NOTICE_1
		<include refid="search"></include>
		ORDER BY NUM DESC
		)NN
		)
		WHERE RN BETWEEN #{startRow} AND #{lastRow}

	</select>

	<select id="getNoticeDetail" parameterType="NoticeDTO"
		resultType="NoticeDTO">
		SELECT * FROM NOTICE_1 WHERE NUM = #{num}
	</select>

	<insert id="setNoticeAdd" parameterType="NoticeDTO">
		<selectKey order="BEFORE" keyProperty="num"
			resultType="Long">
			SELECT NOTICE_1_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE_1 VALUES
		(NOTICE_1_SEQ.NEXTVAL, #{title}, #{writer},
		#{contents}, SYSDATE, 0)
	</insert>

	<update id="setNoticeUpdate" parameterType="NoticeDTO">
		UPDATE NOTICE_1 SET
		TITLE = #{title}, WRITER = #{writer}, CONTENTS = #{contents} WHERE NUM
		= #{num}
	</update>

	<delete id="setNoticeDelete">
		DELETE NOTICE_1 WHERE NUM = #{num}
	</delete>

	<select id="getCount" resultType="Long"
		parameterType="ReviewsPager">
		SELECT COUNT(num) FROM NOTICE_1
		<include refid="search"></include>
	</select>
	
	<update id="setNoticeHitsUpdate">
		UPDATE NOTICE_1 SET HIT = HIT + 1 WHERE NUM = #{num}
	</update>

</mapper>