<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.home.party.PartyDAO">
	
	
	<!-- partyList======================================================================================= -->
	<insert id="setPartyFileAdd" parameterType="PartyFileDTO">
		INSERT INTO PARTYFILE
			VALUES(PARTYFILE_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{partyNum})
	</insert>
	
	<update id="setPartyUpdate" parameterType="PartyListDTO">
		UPDATE PARTYLIST SET PARTYTITLE=#{partyTitle}, PARTYCONTENTS=#{partyContents}, PARTYREGDATE=sysdate, 
			PARTYTIMEOUT=sysdate+(#{partyHH}*60)+#{partymm}/(24*60) WHERE USERID=#{userID}
	</update>
	
	<select id="getPartyDetail" parameterType="PartyListDTO" resultMap="getPartyFile">
		SELECT P.*, PF.* FROM PARTYLIST P 
			LEFT JOIN PARTYFILE PF ON P.PARTYNUM = PF.PARTYNUM
				WHERE P.PARTYNUM=#{partyNum}
	</select>
	
	<resultMap type="PartyListDTO" id="getPartyFile">
		<id column="PARTYNUM" property="partyNum"/>
		<result column="USERNAME" property="userName"/>
		<result column="SHOPNUM" property="shopNum"/>
		<result column="PARTYTITLE" property="partyTitle"/>
		<result column="PARTYCONTENTS" property="partyContents"/>
		<result column="PARTYREGDATE" property="partyRegdate"/>
		<result column="PARTYTIMEOUT" property="partyTimeout"/>
		<collection property="partyFileDTOs" javaType="List" ofType="partyFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	

    <select id="getPartyList" resultType="PartyListDTO" parameterType="Pager">
    	SELECT * FROM 
    		(SELECT ROWNUM R, P.* FROM
    			(SELECT * FROM PARTYLIST
    			WHERE PARTYTITLE LIKE '%'||#{search}||'%'	
    			ORDER BY PARTYNUM DESC) P
    				) WHERE R BETWEEN #{startRow} AND #{lastRow}
    </select>
    
    <select id="getPartyCount" resultType="Long" parameterType="Pager">
    	SELECT COUNT(partyNum) FROM PARTYLIST WHERE PARTYTITLE LIKE '%'||#{search}||'%'	
    </select>
    
    <insert id="setPartyAdd" parameterType="PartyListDTO">
    	INSERT INTO PARTYLIST VALUES (
    		PARTY_SEQ.NEXTVAL, #{userID}, #{userName}, #{shopNum}, #{partyTitle}, #{partyContents}, sysdate, sysdate+(#{partyHH}*60)+#{partymm}/(24*60))
    </insert>
   
   <!-- partyList======================================================================================= -->
   
   <!-- party=========================================================================================== -->
    
    <insert id="setPartyJoin" parameterType="PartyDTO">
    	INSERT INTO PARTY VALUES
    		(#{partyNum}, #{userName}, #{partyAge}, #{partyGender}, #{partyComment}, 0)
    </insert>
    
    <select id="getPartyRequest" parameterType="partyDTO" resultType="PartyDTO">
    	SELECT * FROM PARTY WHERE PARTYNUM = #{partyNum}
    </select>
    
    <update id="setPartyAccept" parameterType="PartyDTO">
    	UPDATE PARTY SET PARTYREQUEST = 1 WHERE  PARTYNUM = #{partyNum} AND USERNAME = #{userName}
    </update>
    
    <delete id="setPartyCancel" parameterType="PartyDTO">
    	DELETE FROM PARTY WHERE PARTYNUM = #{partyNum} AND USERNAME = #{userName}
    </delete>
    
</mapper>    